*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .ul1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 26px;
    margin-left: 380px;
}

nav .ul2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 26px;
    margin-left: 244px;
    gap: 20px;
}

nav .ul1 li a{
    color: #353532;
    width: 64px;
    height: 24px;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

nav .ul2 li .a{
    width: 43px;
    height: 24px;

    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #353532;
}

.ul2 li button{
    width: 110px;
    height: 35px;
    border-radius: 9999px;
    background: #00835a;
    border: none;

    font-weight: 400;
    font-size: 16px;
    color: #edf1f1;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}


div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 96px 96px;
}

div .section1 h1{
    width: 458px;
    height: 64px;

    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: 1.05px;
    color: #353532;
}

div .section1 p{
    margin-top: 100px;
    width: 551px;
    height: 96px;
    color: #353532;

    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}

div .section2 img{
    width: 373px;
    height: 210px;
    margin-left: 84px;
}

div .section2 p{
    width: 328px;
    height: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #353532;
    margin-left: 120px;
}

.div2{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.div2 button{
    width: 278px;
    height: 40px;
    border-radius: 9999px;
    margin-top: 28px;
    margin-left: 96px;
    background: #00835a;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #edf1f1;
}

.div2 a{
    width: 117px;
    height: 28px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #00835a;
}

.maindiv .first_section article{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 325px;
    margin-left: 200px;
}

.maindiv .first_section article h1{
    height: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.36px;
    color: #353532;
}

.maindiv .first_section article h1:nth-child(2) {
    color: #00835a;
}

.maindiv .first_section p{
    margin-top: 25px;
    margin-left: 380px;
    width: 700px;
    height: 28px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #353532;
}

.maindiv .first_section a{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 230px;
    margin-left: 490px;
    width: 210px;
    height: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #00835a;
}

.black_div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2b3733;
    width: 100%;
    margin-left: -23px;
}

.black_div .sec1{
    margin-top: 67px;
    margin-left: 96px;
    margin-bottom: 68px;
}

.black_div .sec1 a{
    width: 338px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    color: #b2eca1;
}

.black_div .sec1 h1{
    margin-top: 11px;
    height: 40px;
    width: 319px;

    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.36px;
    color: #f7f7f3;
}

.black_div .sec1 p{
    margin-top: 27px;
    width: 454px;
    height: 120px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #edf1f1;
}
.black_div .sec1 span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.black_div .sec1 button{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 210px;
    height: 35px;
    border-radius: 9999px;
    background: #b2eca1;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #004d42;
    padding-left: 16px;
    border: none;

} 

.black_div .sec1 span a{
    display: flex;
    align-items: center;
}

.black_div .sec1 span a{
    margin-top: 35px;
    margin-left: 25px;
}

main{
    margin-top: -97px;
    background-color: #004d42;
    width: 100%;
}

main .section1 h1{
    padding-top: 111px;
    padding-left: 492px;


    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.36px;
    color: #f7f7f3;
}

main .section1 p{
    padding-top: 23px;
    padding-left: 270px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #edf1f1;
}

main .section2 {
    padding-top: 170px;
    padding-left: 640px;
}

main .section2 a{
    width: 95px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    color: #b2eca1;
}

main .section2 h1{
    padding-top: 11px;
    width: 306px;
    height: 40px;

    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.36px;
    color: #f7f7f3;
}

main .section2 p{
    padding-top: 27px;
    width: 449px;
    height: 120px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #edf1f1;
}

main .section2 button{
    display: flex;
    align-items: center;

    width: 217px;
    height: 35px;
    background: #b2eca1;
    border: none;
    margin-top: 30px;
    justify-content: space-around;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #004d42;
    margin-bottom: 115px;
}

main .section3 {
    margin-top: 111px;
    margin-left: 96px;
}

main .section3 a{
    width: 182px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    color: #b2eca1;
}
